/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
font-weight: 500;
font-family: 'Raleway', sans-serif;
overflow-x: hidden;
opacity: 0.7;
}

.container{
padding: 2em 3em;
}

.header{
font-family: "Amatic SC";
color: #000000;
font-weight: bolder;
font-size: 3.2em;
margin-bottom: 0.2em;
}


.btn-unstop{
background-color: rgba(210,105,30,0.5);
border: none;
color: black;
font-weight: bold;
}

.carousel-caption .btn-unstop{
background-color: rgb(210,105,30);
}

.btn-unstop:hover{
background-color: rgba(210,105,30,0.7);
border: none;
color: black;
font-weight: bold;
}

.hashtag{
margin: 0.7em 0;
font-family: "Amatic SC"; 
font-weight: 700;
font-size: 1.4em;
}

.hr-divider{
margin: 2.5em auto;
}

a{
text-decoration: none;
}

.fa-2x{
vertical-align: middle;
}

.jumbotron{
background-image: repeating-linear-gradient(-25deg, #fff, #fff 20px, #df5646 20px, #df5646 40px, #fff 40px, #fff 60px, #1c78a4 60px, #1c78a4 80px);background-image: repeating-linear-gradient(-25deg, #fff, #fff 20px, #df5646 20px, #df5646 40px, #fff 40px, #fff 60px, #1c78a4 60px, #1c78a4 80px);
background-position: center;
background-size: cover;
color: #000000;
height: 250px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
position: absolute;
top: auto;
right: 0;
left: 0;
z-index: 200;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container-fluid {
padding-right: 0;
padding-left: 0;
width: 100%;
}
.navbarHead{
background-color: rgba(256,256,256);
border: none;
}
.navbar-right{
  padding-right: 10px;
}
#brand-image{
height: 2.5em;
margin: 3px 3px;
}
a.navbar-brand{
padding: 0px;
}
.navbar-default .navbar-brand{
color: #000;
}
/* navbar toggle button (bars) --------------------------------------------------------------------*/
.navbar-default .navbar-toggle{
border: none;
}
.navbar-default .navbar-toggle:hover{
background-color: rgba(0,0,0,0.4);;
}
.navbar-default .navbar-nav>li>a{
color: #000000;
text-transform: uppercase; 
}
.navbar-default .navbar-nav>li>a:hover{
font-weight: 700;
color: #000;
}

/*dropdown menu structure*/
.dropdown-menu {
background-color: rgba(0,0,0,0.4);
border: none;
padding: 0px;
}

/*dropdown menu list*/
.dropdown-menu>li>a{
color: #000000;
background-color: rgba(0,0,0,0.2);
} 
.dropdown-menu>li>a:hover{
font-weight: 700;
color: #000000;
background-color: rgba(0,0,0,0.7);
}

.navbar.navbar-default .navbar-nav li.dropdown>.dropdown-toggle{
font-weight: 100;
background-color: transparent;
color: #000;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
height: 500px;
margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel .carousel-caption {
z-index: 10;
font-family: 'Raleway', sans-serif;
}

/* Declare heights because of positioning of img element */
.carousel .item {
height: 500px;
background-color: #777;
}

.carousel-inner > .item > img {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 500px;
opacity: 0.6;
object-fit:cover;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
margin-bottom: 20px;
text-align: center;
}
.marketing h2 {
font-weight: normal;
}
.marketing .col-lg-4 p {
margin-right: 10px;
margin-left: 10px;
}



/* Featurettes
------------------------- */

.featurette-divider {
margin: 20px 10px; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
font-weight: 300;
line-height: 1;
letter-spacing: -1px;
text-transform: uppercase;
font-size: 4em;
}

.featurette-image{
margin-top: 40px;
margin-bottom: 5px;
}
.story{
  line-height: 3.5em;
}

/* WEB CONTENT
------------------------ */

.banner h1{
margin-top: 1.5em;
}

.date{
font-weight: 700;
}
/*---------------------------------------------------SUPPORT content*/
.jumbo-support{
background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../images/headers/SUPPORT_US_HEADER.jpg); 
}

.thumbnail{
border: none;
background-color: transparent;
margin: 2em;
}

.support .caption{
background-color: rgba(255, 255, 255, 0.9);
border-radius: 0.3em;
padding: 2em 2em;
text-align: center;
font-weight: bold; 
/*padding-left: 3em;*/
}
/*
.caption-text{
padding: 0em 2em;
}*/

/

.gallery{
  background-color: rgba(255,245,230,1);
}

.thumb{
margin-bottom: 30px;
}

.zoom {
width: 100%;
height: 200px;
object-fit:cover;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
}

/*---------------------------------------------------CONTACT content*/

i+h4{
display: inline-block;
}
.contact-item{
margin: 1em 1.5em;
font-size: 1.1em;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5em;
border-radius: 0.3em;
background-color: rgba(210,105,30,.3);
color:#7C7575;
}

.contact .contact-us{
display: flex;
justify-content: center;
}

.contact-item:hover{
color: rgba(210,105,30);
text-decoration: none;
}


}
/* FOOTER 
------------------------ */
.cw-footer {
background-image: repeating-linear-gradient(-25deg, #fff, #fff 20px, #df5646 20px, #df5646 40px, #fff 40px, #fff 60px, #1c78a4 60px, #1c78a4 80px);background-image: repeating-linear-gradient(-25deg, #fff, #fff 20px, #df5646 20px, #df5646 40px, #fff 40px, #fff 60px, #1c78a4 60px, #1c78a4 80px);padding-top: 4em;
color: #000000;
}

.cw-footer-top-row ul li{
list-style: none;
}

.cw-footer-header{
font-weight: 800;
}

.cw-footer-top-row a,
.cw-footer-social-row a{
font-weight: 500;
text-decoration: none;
color: #000000;
}

.cw-footer-bottom-row p, a{
color: #000;
font-size: 1em;
}

.cw-footer-bottom-row a:hover{
text-decoration: none;
color: rgba(90,90,90)
}
/* RESPONSIVE CSS
-------------------------------------------------- */

/* RESPONSIVE DESIGN*/

@media only screen and (min-width:768px) and (max-width: 876px)  {
.navbar .container{
padding: 0;
}
.nav > li > a {
padding: 15px 10px;
}
.nav.navbar-nav > li > a {
font-size: 0.46em;
}
.nav.navbar-nav .dropdown-menu>li>a {
font-size: xx-small;
}
}

@media only screen and (min-width:876px) and (max-width:1000px)  {
.nav.navbar-nav > li > a {
font-size: 0.5em;
}
.nav.navbar-nav .dropdown-menu>li>a {
font-size: x-small;
}
}
@media only screen and (min-width:1000px) and (max-width:1024px)  {
.nav.navbar-nav > li > a {
font-size: 0.6em;
}
.nav.navbar-nav .dropdown-menu>li>a {
font-size: x-small;
}
}
@media only screen and (min-width:1024px) and (max-width: 1824px)  {
.nav.navbar-nav > li > a {
font-size: 0.7em;
}
.nav.navbar-nav .dropdown-menu>li>a {
font-size: small;
}
}
@media (min-width: 768px) {
.container{
width: 100%;
}
a.navbar-brand{
top: 0px;
}
}

}

