/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
color: #5a5a5a;
font-family: 'Raleway', sans-serif;
overflow-x: hidden;
}

.container{
padding: 2em 3em;
}

.header{
font-family: "Amatic SC";
color: #D2691E;
font-weight: bolder;
font-size: 3.2em;
margin-bottom: 0.2em;
text-transform: uppercase;
}

.thumbnail-layout{
background-size: cover;
background-position: center;
margin: 1.3em;
padding: 0.6em 0;
border-radius: 0.3em;
margin-bottom: 5em;
}

.btn-unstop{
background-color: rgba(210,105,30,0.5);
border: none;
color: black;
font-weight: bold;
}

.carousel-caption .btn-unstop{
background-color: rgb(210,105,30);
}

.btn-unstop:hover{
background-color: rgba(210,105,30,0.7);
border: none;
color: black;
font-weight: bold;
}

.hashtag{
margin: 0.7em 0;
font-family: "Amatic SC"; 
font-weight: 700;
font-size: 1.4em;
}

.hr-divider{
margin: 2.5em auto;
}

a{
text-decoration: none;
}

.fa-2x{
vertical-align: middle;
}

.jumbotron{
background-position: center;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
position: absolute;
top: auto;
right: 0;
left: 0;
z-index: 200;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container-fluid {
padding-right: 0;
padding-left: 0;
width: 100%;
}
.navbarHead{
background-color: rgba(0,0,0,0.4);
border: none;
}
.navbar-right{
  padding-right: 10px;
}
#brand-image{
height: 2.5em;
margin: 3px 3px;
}
a.navbar-brand{
padding: 0px;
}
/* navbar toggle button (bars) --------------------------------------------------------------------*/
.navbar-default .navbar-toggle{
border: none;
}
.navbar-default .navbar-toggle:hover{
background-color: rgba(0,0,0,0.4);;
}
.navbar-default .navbar-nav>li>a{
color: #FFFFFF;
text-transform: uppercase; 
}
.navbar-default .navbar-nav>li>a:hover{
font-weight: 700;
color: #FFFFFF;
}

/*dropdown menu structure*/
.dropdown-menu {
background-color: rgba(0,0,0,0.4);
border: none;
padding: 0px;
}

/*dropdown menu list*/
.dropdown-menu>li>a{
color: #FFFFFF;
background-color: rgba(0,0,0,0.2);
} 
.dropdown-menu>li>a:hover{
font-weight: 700;
color: #FFFFFF;
background-color: rgba(0,0,0,0.7);
}

.navbar.navbar-default .navbar-nav li.dropdown>.dropdown-toggle{
font-weight: 100;
background-color: transparent;
color: #FFF;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
height: 500px;
margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel .carousel-caption {
z-index: 10;
font-family: 'Raleway', sans-serif;
}

/* Declare heights because of positioning of img element */
.carousel .item {
height: 500px;
background-color: #777;
}

.carousel-inner > .item > img {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 500px;
opacity: 0.6;
object-fit:cover;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
margin-bottom: 20px;
text-align: center;
}
.marketing h2 {
font-weight: normal;
}
.marketing .col-lg-4 p {
margin-right: 10px;
margin-left: 10px;
}



/* Featurettes
------------------------- */

.featurette-divider {
margin: 20px 10px; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
font-weight: 300;
line-height: 1;
letter-spacing: -1px;
text-transform: uppercase;
font-size: 4em;
}

.featurette-image{
margin-top: 40px;
margin-bottom: 5px;
}
.story{
  line-height: 3.5em;
}

/* WEB CONTENT
------------------------ */

.banner h1{
margin-top: 1.5em;
text-transform: uppercase;
}

.jumbotron{
opacity: 0.7;
background-size: cover;
color: #000000;
height: 250px;
}

.date{
font-weight: 700;
}
/*---------------------------------------------------SUPPORT content*/
.jumbo-support{
background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../images/headers/SUPPORT_US_HEADER.jpg); 
}

.thumbnail{
border: none;
background-color: transparent;
margin: 2em;
}

.support .caption{
background-color: rgba(255, 255, 255, 0.9);
border-radius: 0.3em;
padding: 2em 2em;
text-align: center;
font-weight: bold; 
/*padding-left: 3em;*/
}
/*
.caption-text{
padding: 0em 2em;
}*/

/*------------------support-us WAYS */
.donate{
background-image: url(../../images/donate.jpg);
}
.regular-donation{
background-image: url(../../images/powers.jpg);
}
.shop-for-kids{
background-image: url(../../images/shop-for-kids.jpg);
}
.shop-item h4{
font-weight: 700;
}
.shop-item img{
width: 170px;
height: 100px;
margin: 0px 40px;
}
.shop-item input{
margin: 25px 80px 0px;
}
.fundraise{
background-image: url(../../images/fundraise.jpg);
}
.fundraise-item{
margin-bottom: 1em;
border-radius: 0.5em;
padding: 1.6em 2em;
color: #7C7575; 
} 
.fundraise-item h4{
display: flex;
justify-content: center;
font-weight: 500;
font-size: 1.5em;
margin-bottom: 1em;
}
.fundraise-item .fa-4x{
display: flex;
justify-content: center;
}

.fundraise-item:hover{
background-color: rgba(210,105,30,0.5);
color: rgb(255, 255, 255); 
} 

#fundraising a{
text-decoration: none;
}

#fundraising .description{
font-size: 1em;
line-height: 3em;
}

.fundraising-expanded{
padding-bottom: .7em;
font-size: 1em;
}

.fundraising-expanded h3{
font-size: 2em;
}

.fundraising-expanded h3{
font-size: 2em;
}
/*---------------------------------------------------PROJECTS content*/
.jumbo-projects{
background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../images/headers/what_we_do_header.jpg);
}

.problems-item .header{
color: #5a5a5a;
text-decoration: underline;
font-size: 2.2em;  
}

.description{
line-height: 1.7em;
font-size: 18px;
margin: 1.3em auto;
}

.description a{
color: rgba(210,105,30,.7);
}

/*---------------------------------------------------IMPACT content*/
.jumbo-impact{
background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../images/headers/impact.jpg);
}

.success-stories{
background-image: url(../../images/success.jpg);
}

.volunteer-stories{
background-image: url(../../images/powers2.jpg);
}

/*---------------------------------------------------VOLUNTEER content*/
.jumbo-careers{
background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../images/headers/childs4.jpg); 
}
.careers .thumbnail .header{
color: rgba(255,255,255,.7);
display: flex;
background-color: rgba(210,105,30,0.5);
padding: 0.2em;
border-radius: 0.2em;
justify-content: center;
}
.volunteer-mail:hover{
color: orange;
}
.careers .thumbnail p{
  text-align: center;
}

.careers a{
text-decoration: none;
}

/*---------------------------------------------------TEAM content*/
.jumbo-team{
background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../images/headers/meet_the_team_s.jpg); 
}


/*---------------------------------------------------GALLERY content*/
.jumbo-gallery{
background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../images/headers/games.jpg); 
}

.gallery{
  background-color: rgba(255,245,230,1);
}

.thumb{
margin-bottom: 30px;
}

.zoom {
width: 100%;
height: 200px;
object-fit:cover;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
}

/*---------------------------------------------------CONTACT content*/
.jumbo-contact{
background-image: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,0.3)), url(../../images/headers/contact_s.jpg);
}

i+h1{
display: inline-block;
font-size: 1em
}
.contact-item{
margin: 1em 1.5em;
font-size: 1.1em;
display: flex;
align-items: center;
justify-content: space-between;
padding: 1.5em;
border-radius: 0.3em;
background-color: rgba(210,105,30,.3);
color:#7C7575;
}

.contact .contact-us{
display: flex;
justify-content: center;
}

.contact-item:hover{
color: rgba(210,105,30);
text-decoration: none;
}

.contact-item .caption{
font-size: 1.3em;
position: relative;
top: 3.5rem;
left: -5.9rem;
}

.contact-item .icon{
font-size: 4em;
position: relative;
top: -.5rem;
left: 9rem;
}

.social-media  a{ /*check thaaaaat!!! all a being selected*/
display: inline-block;
list-style: none;
text-decoration: none;
color: rgb(210,105,30);
}

.social-media a:hover{
color: rgba(210,105,30, 0.5);
}

/*---------------------------------------------------POWERS content*/
.jumbo-powers{
background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../images/headers/powers2.jpg);
}

.powers li{
list-style: none;
font-size: 2em;
}

.powers{
margin-bottom: 2.5em;
margin-top: -3em;
}

/*---------------------------------------------------MASK content*/
.jumbo-mask{
background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url(../../images/headers/putonmask.jpg);
}

/*THANKS
--------------------------*/

.thanks .header{
  font-size: 21em;
  display: block;
  margin: 0 0.5em;
  color: rgba(255,255,255,0.7);
}
.thanks{
  background-image: url(../../images/headers/childs2.jpg);
  background-size: cover;
  height: 50em;
  padding-bottom: 0px;
}
/* FOOTER 
------------------------ */
.cw-footer {
background-color: rgba(210,105,30,0.5);
padding-top: 4em;
}

.cw-footer-top-row ul li{
list-style: none;
}

.cw-footer-header{
font-weight: 800;
}

.cw-footer-top-row a,
.cw-footer-social-row a{
color: rgba(255,255,255,.7);
font-weight: 500;
text-decoration: none;
}

.cw-footer-bottom-row p, a{
color: #5a5a5a;
}

.cw-footer-bottom-row a:hover{
text-decoration: none;
color: rgba(90,90,90,.7)
}
/* RESPONSIVE CSS
-------------------------------------------------- */

/* RESPONSIVE DESIGN*/

@media only screen and (min-width:768px) and (max-width: 876px)  {
.navbar .container{
padding: 0;
}
.nav > li > a {
padding: 15px 10px;
}
.nav.navbar-nav > li > a {
font-size: 0.46em;
}
.nav.navbar-nav .dropdown-menu>li>a {
font-size: xx-small;
}
}

@media only screen and (min-width:876px) and (max-width:1000px)  {
.nav.navbar-nav > li > a {
font-size: 0.5em;
}
.nav.navbar-nav .dropdown-menu>li>a {
font-size: x-small;
}
}
@media only screen and (min-width:1000px) and (max-width:1024px)  {
.nav.navbar-nav > li > a {
font-size: 0.6em;
}
.nav.navbar-nav .dropdown-menu>li>a {
font-size: x-small;
}
}
@media only screen and (min-width:1024px) and (max-width: 1824px)  {
.nav.navbar-nav > li > a {
font-size: 0.7em;
}
.nav.navbar-nav .dropdown-menu>li>a {
font-size: small;
}
}
@media (min-width: 768px) {
.container{
width: 100%;
}
a.navbar-brand{
top: 0px;
}
}

}

